@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');



body {
  font-family: 'Lexend', sans-serif;
}

h1{
  background-color: #124734;
  padding: 30px;
  color: #f3f3f3;
}

h2 {
  font-size: 1.5em;
  background-color: #124734;
  padding: 10px;
  color: #f3f3f3;
}

h3 {
  font-size: 1.5em;
  background-color: #fec52e;
  padding: 10px;
  color: #f3f3f3;
}

h1,
h2,
h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: white;
}

.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 2em; }
.footnote {
  position: absolute;
  bottom: 3em;
}

.remark-slide-content li,
.remark-slide-content p{
  font-size: 2rem;
}

.red { color: #fa0000; }

.large { font-size: 2em; }

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

code {
  background: #e7e8e2;
  border-radius: 5px;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.remark-code-line-highlighted     { background-color: #373832; }

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ p {
  clear: both;
}

#slideshow .slide .content code {
  font-size: 0.8em;
}

#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}

#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}

#slide-how .slides h3 {
  margin-top: 0.2em;
}

#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}

#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}

#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h3:last-child {
    color: #000;
  }
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}



table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

th {
  text-align: left;
  background-color: #fec52e;
  color: white;
}

.even-split {width: 100%}
.even-split .column {float: left; width: 50%; box-sizing: border-box;}

img {
  max-height: 500px;
  max-width: 100%;
}

.image-60 img {
  width: 60%;
}

.image-50 img {
  width: 50%;
}

.image-40 img {
  width: 40%;
}

.image-30 img {
  width: 30%;
}

/* Apparently this styling makes printing more consistent */
@page {
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}